*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: #333;
}

section{
    padding: 30px 15%;

}
.contact-img img{
    max-width: 100%;
    width:500px;
    height:auto;
    position:absolute; 
    top: 0; 
    right: 0;
    
}

#menubar{
    
    color:palevioletred;

}

#menubar ul{
    padding:0;
    list-style:none;
}
#menubar a:hover{
    color: red;
}

#menubar a:active{
    color:green;
}

#menubar li{
    display:inline;
}

#menubar a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding-right:20px;
}


span{
    color:#d3af37;
}

.c1{
    color:burlywood;
    
}

img{
    float: right;
    clear:right;
    
}

  .text-wrapper {
    word-wrap: break-word; /* Allows long words to break and wrap onto the next line */
    white-space: normal; /* Allows text to wrap naturally */
    width: 400px; /* Adjust the width to control the wrapping behavior */
    overflow: hidden; /* Hide overflow text if it doesn't fit within the defined width */
    margin-top: 50px;
    font-weight: bold;
    font-size: x-large;
    margin-left:40px;
    
  }

  .y2{
    margin: 40px ;
    font-size: 16px;
    letter-spacing: 1.5px;

  }

  .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 20px;
    width:220px;
    transition: ease .20s;
    cursor:pointer ;
    
    
}
.rate{
    color: #d3af37;
    font-size: 20px;
}
.reviews{
    color: beige;
}
.container{
    margin: 15px;
    padding:5px;
}

.reviewss{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    letter-spacing: 1.1px;
}

.ctn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    padding: 10px;
}


.btn:hover{
    border: 2px solid purple;
    background: transparent;
    transform:scale(1.1);
}


  @media (max-width: 1570px){
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    

    

        button{
            margin-bottom: 0px;
            width: 60vw;
            padding: 10px 5px;
        
        }
    
    
        @media only screen and (max-width: 600px)  {
            .contact-img img{
                
                height: auto;
                max-width: 80%;
                position:static;

            }

            .reviewss{
                display: flex; 
                justify-content: right;
                align-items: right; 
                position:absolute;
                max-width: 80%;
                height: auto;
                top: auto;
                
            }

            button{
                margin-bottom: 0px;
                width: 60vw;
                padding: 10px 5px;
            
            }
        

            
            

        
        
            
                
            }
    
}
